/* Header */
.header-navigation__link {
    text-decoration: none;
    color: var(--C2);
    font-size: 1.8rem;
    transition: all .2s;
}

.header-navigation__link:hover {
    color: white;
}

.header-navigation__link:not(:last-child) {
    margin-right: 2rem;
}

.header_img {
    height: 8rem;
}

.header-navigation {
    margin-top: 2rem;
}

.header-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
}

.header-search__input {
    font-family: inherit;
    font-size: 1.6rem;
    border: none;
    border-bottom: 2px solid var(--C7);
    padding: 1rem 2rem;
    width: 80%;
    transition: all .8s;
    margin-right: -2.5rem;
    background-color: inherit;
}

.header-search__input:focus {
    width: 100%;
    outline: none;
    border-bottom: 2px solid var(--C1);
}

.header-search__button {
    border: none;
    cursor: pointer;
    color: var(--C7);
    background-color: inherit;
}

.header-search__button:active {
    transform: translateY(2px);
}

.header-search__input:focus + .header-search__button {
    color: var(--C1);
}


/* Footer */
.footer-content__text {
    color: white;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 1rem;
}

.footer-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-navigation__link {
    text-decoration: none;
    color: var(--C2);
    font-size: 1.4rem;
}

.footer-navigation__link:hover {
    color: white;
}

.footer-navigation__link:not(:last-child) {
    margin-right: 2rem;
}


/* Message */
.message__text{
    font-size: 1.8rem;
}


/* Banner */
.banner {
    max-width: 50%;
}

.page-banner-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.banner-content-news {
    display: flex;
}

.banner-content-news-box {
    width: 100%;
}

.banner-content-description__text {
    font-size: 2.5rem;
    text-align: center;
    color: var(--C2);
}

.banner-content-description {
    padding: 1rem 1rem 2rem;
}

.banner-content-news-box__title {
    text-align: center;
    font-size: 2.2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--C2);
}

.banner-content-news-box__subtitle {
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
    color: var(--C1);
}

.banner-content-news-box {
    border: 0.5px solid var(--C0);
    margin: 1rem;
    padding: 1rem 2rem 5rem;
    box-shadow: 0px 1px 10px #999;
}

.banner-content-news-box:first-child {
    margin-right: 10rem;
}

.news-box-content__list {
    list-style: none;
    margin-left: 1rem;
}

.news-box-content__item {
    font-size: 1.6rem;
}

.news-box-content__item:not(:last-child) {
    margin-bottom: 1rem;
}