.container{
    width: 100%;
    background-color: var(--colour-grey-light-1);
}


/* Header */
.header {
    background-color: var(--C4);
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}