.container{
    width: 100%;
    background-color: var(--colour-grey-light-1);
}


/* Header */
.header {
    background-color: var(--C4);
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


/* Footer */
.footer {
    background-color: var(--C4);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 2rem 10rem;
}


/* Message */ 
.message {
    background-color: whitesmoke;
    padding: 2rem 6rem;
}


/* Banner */
.page-banner {
    display: flex;
    padding: 0 10rem;
}


/* Publication */
.publication {
    margin-top: 10rem;
}


/* Journal */
.journal {
    margin-top: 10rem;
}


/* Sponsor */
.sponsor {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 3rem 0 2rem;
    background-color: whitesmoke;
    margin-top: 5rem;
}


/* Speakers Page */ 
.main-content-speakers {
    padding: 10rem;
}



/* Responsive layout - Home Page */ 
@media  screen and (max-width: 700px) { 
    header {
        flex-direction: column;             
    }
}    